<template>
  <select v-model="choosen" class="form-control form-control-sm">
    <option v-for="(l, idx) in languages" :key="idx">
      {{l.text}}
    </option>
  </select>
</template>

<script>
export default{
  name: 'choose-language',
  data () {
    return {
      languages: [{text: 'De', icon: ''}, {text: 'En', icon: ''}]
    }
  },
  computed: {
    choosen: {
      get () {
        return this.$store.state.language
      },
      set (value) {
        this.$store.commit('set', {property: 'language', value})
      }
    }
  }
}
</script>

<style lang="stylus" scoped="">
.form-control
  width 4rem
  display inline-block
</style>
