<template>
  <div class="div-dropdown btn-group">
    <button @click="showFilter^=1" type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-html="title">
    </button>
    <div v-if="showFilter" @click="showFilter=0" v-click-outside="e => showFilter = false" class="visible-block dropdown-menu">
      <slot name="contentTitle"></slot>
      <a v-for="c in contents" @click="$emit('content-clicked', c)" class="dropdown-item" href="#">{{c[showFromContent]}}</a>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
const component = {
  name: 'div-dropdown',
  props: {
    title: {type: String, required: true},
    contents: {type: Array, required: true},
    showFromContent: {type: String, required: true}
  },
  data () {
    return {
      showFilter: false
    }
  }
}
export default component
Vue.component(component.name, component)
</script>

<style lang="stylus">
.div-dropdown
  .visible-block
    display block
  .dropdown-toggle:after
    display none
  .visible-block.dropdown-menu
    max-height 70vh
    overflow auto
</style>
