<template>
  <div>
    <i class="fa fa-refresh fa-spin fa-5x"></i>
  </div>
</template>

<script>
import Vue from 'vue'
const component = {
  name: 'form-overlay'
}
export default component
Vue.component('form-overlay', component)
</script>

<style scoped="">
div{
  background-color: #8a8a8a26;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 99;
}
i{
  top: calc(50% - 10px);
  position: relative;
}
</style>
