<template>
  <transition name="modal">
  <div class="modal-mask">
    <div class="modal-wrapper">
      <div class="modal-container">
        <div class="closer" @click="$emit('close')">X</div>

        <div class="modal-body">
          <iframe :src="src"></iframe>
        </div>

      </div>
    </div>
  </div>
</transition>
</template>

<script>
export default{
  props: {
    src: {
      type: String,
      required: true
    }
  },
  name: 'iframe-modal',
  data () {
    return {
      active: false
    }
  }
}
</script>

<style>
.closer{
  position: absolute;
  top: -.5em;
  right: -.5em;
  color: red;
  border: 2px solid black;
  padding: .25rem;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align: center;
  cursor: pointer;
  background-color: white;
  box-shadow: -1px 1px 1px darkgrey;
  font-weight: bold;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
