<template>
  <div id="working-bar">
    <slot name="before"></slot>
    <slot name="buttons">
      <button @click="$modal.show('upsert-milestone')" class="btn btn-success btn-sm"><i class="fa fa-plus-circle"></i> Projekt</button>
      <button @click="$modal.show('upsert-issue')" class="btn btn-success btn-sm"><i class="fa fa-plus-circle"></i> Issue</button>
      <slot name="customButtons"></slot>
    </slot>
    <slot name="center"></slot>
    <slot name="right"></slot>
  </div>
</template>

<script>
import Vue from 'vue'
const component = {
  name: 'working-bar'
}
export default component
Vue.component('working-bar', component)
</script>

<style lang="stylus">
#working-bar
  background-color #f5f5f5 // rgba(245,245,245,0.769)
  border-bottom 1px solid #e5e5e5
  margin -10px
  margin-bottom 10px
  padding 10px
</style>
