<template>
  <modal name="ignore-developers" @before-open="beforeOpen" @before-close="beforeClose"  height="auto" :scrollable="true">
    <div id="ignoreDevs">
      <h4>Setze zu ignorierende Entwickler</h4>
      <ul>
        <li v-for="d in developers">
          <label><input :checked="isSelected(d.id)" @change="toggleProduct(d.id)" type="checkbox"/> {{d.name}}</label></li>
      </ul>
    </div>
    <i @click="$modal.hide('ignore-developers')" class="fa fa-times-circle close fa-2x"></i>
    <button v-if="changeWasMade" @click="$trigger('user-settings:refresh')" class="btn btn-info"><i class="fa fa-filter"></i> Anwenden</button>
  </modal>
</template>

<script>
import {mapState} from 'vuex'
export default {
  name: 'ignore-developers',
  data () {
    return {
      changeWasMade: false
    }
  },
  computed: {
    ...mapState(['developers', 'developersToFilter'])
  },
  methods: {
    async beforeOpen () {
      this.changeWasMade = false
      if (!this.developers.length) await this.$store.dispatch('loadUsers')
    },
    beforeClose () {
      if (this.changeWasMade) this.$trigger('user-settings:refresh')
    },
    toggleProduct (id) {
      this.changeWasMade = true
      this.$store.commit('toogleInArray', {property: 'developersToFilter', value: id})
    },
    isSelected (id) {
      return this.developersToFilter.includes(id)
    }
  }
}
</script>

<style lang="stylus" scoped>
#ignoreDevs
  padding 1rem
  li
    list-style-type none

button
  float right
</style>
