<template>
  <modal name="ignore-products" @before-open="beforeOpen" @before-close="beforeClose" :height="auto" height="auto" :scrollable="true">
    <div id="ignoreDevs">
      <h4>Setze zu ignorierende Produkte</h4>
      <ul>
        <li v-for="(p, idx) in projects">
          <label><input :checked="isSelected(p.id)" @change="toggleProduct(p.id)" type="checkbox"/> {{p.name}}</label></li>
      </ul>
    </div>
    <i @click="$modal.hide('ignore-products')" class="fa fa-times-circle close fa-2x"></i>
    <button v-if="changeWasMade" @click="$trigger('user-settings:refresh')" class="btn btn-info"><i class="fa fa-filter"></i> Anwenden</button>
  </modal>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ignore-products',
  data () {
    return {
      changeWasMade: false
    }
  },
  computed: {
    ...mapState(['projects', 'projectsToFilter']),
    projects () {
      return this.$store.state.projects
    }
  },
  methods: {
    async beforeOpen () {
      this.changeWasMade = false
      if (!this.projects.length) await this.$store.dispatch('loadProjects')
    },
    beforeClose () {
      if (this.changeWasMade) this.$trigger('user-settings:refresh')
    },
    toggleProduct (id) {
      this.changeWasMade = true
      this.$store.commit('toogleInArray', {property: 'projectsToFilter', value: id})
    },
    isSelected (id) {
      return this.projectsToFilter.includes(id)
    }
  }
}
</script>

<style lang="stylus" scoped>
#ignoreDevs
  padding 1rem
  li
    list-style-type none

button
  float right
</style>
