<template>
  <modal name="ignore-labels" @before-open="beforeOpen" @before-close="beforeClose"  height="auto" :scrollable="true">
    <div id="ignoreDevs">
      <h4>Setze zu ignorierende Labels</h4>

      <multiselect v-model="value" :options="labels" :multiple="true" :close-on-select="false" :clear-on-select="false"
        :hide-selected="true" :preserve-search="true" placeholder="Pick some">
      <!--<template slot="tag" slot-scope="props"><span class="custom__tag"><span>{{ props.option }}</span><span class="custom__remove"
          @click="props.remove(props.option)">❌</span></span></template>
      --> </multiselect>

      <pre class="language-json"><code>{{ value  }}</code></pre>
    </div>
     <i @click="$modal.hide('ignore-labels')" class="fa fa-times-circle close fa-2x"></i>
     <button v-if="changeWasMade" @click="$trigger('user-settings:refresh')" class="btn btn-info btn-sm"><i class="fa fa-filter"></i> Anwenden</button>
  </modal>
</template>

<script>
import {mapState} from 'vuex'
export default {
  name: 'ignore-label',
  data () {
    return {
      changeWasMade: false,
      valueX: []
    }
  },
  computed: {
    ...mapState(['allIssues', 'labels', 'labelsToHide']),
    value: {
      get () { return this.labelsToHide },
      set (values) {
        this.changeWasMade = true
        this.$store.commit('resetArray', {property: 'labelsToHide', values})
      }
    }
  },
  methods: {
    async beforeOpen () {
      this.changeWasMade = false
      if (!this.allIssues.length) await this.$store.dispatch('loadIssues')
    },
    beforeClose () {
      if (this.changeWasMade) this.$trigger('user-settings:refresh')
    },
    isSelected (id) {
      return this.developersToFilter.includes(id)
    }
  }
}
</script>

<style lang="stylus" scoped>
#ignoreDevs
  padding 1rem
  li
    list-style-type none

button
  float right
</style>
