<template>
  <div class="unsetOverflow">
    <ignore-developers></ignore-developers>
    <ignore-products></ignore-products>
    <sub-products></sub-products>
    <upsert-milestone></upsert-milestone>
    <upsert-issue></upsert-issue>
    <ignore-label></ignore-label>
  </div>
</template>

<script>
import IgnoreDevelopers from './IgnoreDevelopers'
import IgnoreProducts from './IgnoreProducts'
import SubProducts from './SubProducts'
import UpsertMilestone from './UpsertMilestone'
import UpsertIssue from './UpsertIssue'
import IgnoreLabel from './IgnoreLabel'

export default {
  name: 'my-modals',
  components: {IgnoreDevelopers, IgnoreProducts, SubProducts, UpsertMilestone, IgnoreLabel, UpsertIssue}
}
</script>

<style lang="stylus">
.unsetOverflow .v--modal-box.v--modal
  overflow unset
.v--modal-box
  i.close
    position absolute
    right -1.25rem
    top -1.25rem
    border-radius 113px
    opacity 1
  button.btn-info
    position absolute
    top 1rem
    right 1rem
</style>
