<template>
  <modal name="sub-products" @before-open="beforeOpen" @before-close="beforeClose" height="auto" :scrollable="true">
    <div id="chooseSubProducts">
      <h4>Bennen sie die Unterprodukte</h4>
      <p>Milestones welche mit "[Tag]" beginnen, können somit als Unterprodukt zugeordnet werden.</p>
        <p v-for="(p, idx) in values">
          <label class="typo__label">{{p.name | reverseBreak}} Module</label>

          <multiselect v-model="p.modules" tag-placeholder="Add this as new tag"
            placeholder="Add or delete a tag"  :options="options" :multiple="true" :taggable="true"
            @tag="addTag(p, idx, $event)"></multiselect>

          <!--<multiselect v-model="getSubProbject(p.id).value" :multiple="true" :taggable="true" @tag="addTag(p, idx, $event)"
            tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name"
            track-by="code" :options="options" ></multiselect>-->
        </p>
    </div>
    <i @click="$modal.hide('sub-products')" class="fa fa-times-circle close fa-2x"></i>
    <button v-if="changeWasMade" @click="$trigger('user-settings:refresh')" class="btn btn-info"><i class="fa fa-filter"></i> Anwenden</button>
  </modal>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'sub-products',
  data () {
    return {
      changeWasMade: false,
      values: [], // [{projectId:..., name:..., modules: ['y',]}]
      options: []
    }
  },
  computed: {
    ...mapState(['projects', 'projectsToFilter', 'subProjects']),
    projects () {
      return this.$store.state.projects
    }
  },
  methods: {
    async beforeOpen () {
      this.changeWasMade = false
      if (!this.projects.length) await this.$store.dispatch('loadProjects')
      this.values.splice('deleteCount')
      this.values.push(...this.projects.map(e => {
        let hasProject = this.subProjects.find(f => f.projectId === e.id)
        if (hasProject) return hasProject
        return {projectId: e.id, name: e.path_with_namespace, modules: []}
      }))
    },
    beforeClose () {
      if (this.changeWasMade) this.$trigger('user-settings:refresh')
    },
    addTag (p, idx, newTag) {
      p.modules.push(newTag)
      // let project = this.getSubProbject(p.id)
      // project.value.push(newTag)
      /* const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
      }
      this.options.push(tag)
      this.value.push(tag) */
      this.changeWasMade = true
      this.$store.commit('tooggleInSubprojects', {id: p.projectId, moduleName: newTag, newSubProject: p})
    },
    getSubProbject (id) {
      let project = this.subProjects.find(e => e.id === id)
      if (!project) {
        project = {id, value: []}
        this.subProjects.push(project) // commit...
      }
      return project
    },
    toggleProduct (id) {
      this.changeWasMade = true
      this.$store.commit('toogleInArray', {property: 'projectsToFilter', value: id})
    },
    isSelected (id) {
      return this.projectsToFilter.includes(id)
    }
  },
  filters: {
    reverseBreak (v) {
      let ar = v.split(/\//)
      return ar.reverse().join(': ')
    }
  }
}
</script>

<style lang="stylus" scoped="">
#chooseSubProducts
  padding 1rem

</style>
