<template>
  <modal @before-open='beforeOpen' @before-close='beforeClose' name='upsert-issue' height='auto' :scrollable='true'>
    <div id='UpsertIssue'>
      <vue-form-generator @validated="onValidated" :schema='schema' :model='model' :options='formOptions'></vue-form-generator>

      <div class="container">
        <div class="row">
          <div class="col">
            Deadline: <datepicker placeholder="Select Date" v-model="dueDate"></datepicker>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button @click="submit" :disabled="!isValid" class="btn btn-block btn-success">Speichern</button>
          </div>
          <div class="col">
            <button @click="$modal.hide('upsert-milestone')" class="btn btn-block btn-danger">Abbrechen</button>
          </div>
        </div>
      </div>
    </div>
  </modal></template>

<script>
import VueFormGenerator from 'vue-form-generator'
import Datepicker from 'vuejs-datepicker'
import {mapState, mapGetters} from 'vuex'
export default {
  name: 'upsert-issue',
  components: {'vue-form-generator': VueFormGenerator.component, Datepicker},
  props: {
    create: {type: Boolean, default: true},
    projectId: {type: Number, default: 0},
    milestone: {type: Object, default: null}
  },
  computed: {
    ...mapState(['projects', 'developers']),
    ...mapGetters(['getAllSubModules', 'downloading']),
    schema () {
      let schema = {
        fields: [{
          type: 'select',
          label: 'Produkt',
          model: 'projectId',
          required: true,
          selectOptions: {
            name: 'title'
          },
          values: this.projects,
          validator: VueFormGenerator.validators.required
        }, {
          type: 'select',
          label: 'Mitarbeiter',
          model: 'assignee',
          selectOptions: {
            name: 'title'
          },
          values: this.developers
        }, {
          type: 'input',
          inputType: 'text',
          label: 'Ticket Titel',
          model: 'issueTitle',
          placeholder: '',
          required: true
        }, {
          type: 'textArea',
          label: 'Ticket Beschreibung',
          model: 'issueDescription',
          required: false
        }, {
          type: 'vueMultiSelect',
          model: 'labels',
          label: 'Labels',
          placeholder: 'Select labels',
          required: false,
          disabled: !this.model.projectId,
          selectOptions: {
            multiple: true,
            key: 'name',
            label: 'name',
            searchable: false,
            closeOnSelect: false,
            allowEmpty: false
          },
          values: this.projectLabels.filter(e => e.projectId === this.model.projectId)
        }]
      }
      return schema
    }
  },
  data () {
    return {
      projectLabels: [],
      isValid: false,
      dueDate: '',
      model: {
        projectId: '',
        assignee: '',
        issueTitle: '',
        issueDescription: '',
        labels: []
      },
      formOptions: {
        validateAfterLoad: true,
        validateAfterChanged: true
      }
    }
  },
  methods: {
    async submit () {
      if (!this.isValid) return

      let issue = {
        title: this.model.issueTitle,
        description: this.model.issueDescription,
        assignee_ids: this.model.assignee ? [this.model.assignee] : null,
        labels: this.model.labels.map(e => e.name).join(','),
        dueDate: this.dueDate
      }
      try {
        await this.$store.dispatch('createIssue', {projectId: this.model.projectId, issue})
        this.$toasted.show(`Ticket: ${this.model.issueTitle} angelegt`)
      } catch (exception) {
        return this.$toasted.show(`Ticket anlegen wegen Fehler ${exception} nicht möglich`)
      }
      this.$modal.hide('upsert-issue')
      this.$trigger('user-settings:refresh')
    },
    onValidated (isValid, errors) {
      this.isValid = isValid
    },
    async beforeOpen () {
      this.changeWasMade = false
      if (!this.projects.length) await this.$store.dispatch('loadProjects')
      if (!this.developers.length) await this.$store.dispatch('loadUsers')
    },
    beforeClose () {
      this.isValid = false
      Object.keys(this.model).forEach(k => { this.model[k] = '' })
      this.dueDate = ''
    }
  },
  watch: {
    'model.projectId': async function (v) {
      if (!v || this.model.addIssue && this.projectLabels.some(e => e.projectId === pId)) return
      let pId = this.model.projectId
      try {
        let labels = await this.GitLabAPI.getAsync(`/projects/${pId}/labels`)
        labels.forEach(l => { l.projectId = pId })
        this.projectLabels.push(...labels)
      } catch (ex) {
        this.$toasted.show(`Labels für Projekt konnten nicht geladen werden ${ex}`)
      }
    }
  }
}
</script>

<style lang='stylus'>
#UpsertIssue
  padding 15px
  .container
    padding 0
  .container>.row:not(:first-of-type)
    margin-top 1rem

#chooseSubProducts
  .w50
    width 49%
    display inline-block

  .form-group.disabled
    display none
</style>
<style>
/*@import "../../../node_modules/spectre.css/dist/spectre.css"*/
/*@import url("https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.1/spectre.min.css")*/
</style>
