<template>
  <modal @before-open='beforeOpen' @before-close='beforeClose' name='upsert-milestone' height='auto' ref="modal" :scrollable='true'>
    <div id='UpsertMilestone'>
      <form-overlay v-if="downloading"/>
      <h4>Erstelle neues Projekt</h4>
      <vue-form-generator @validated="onValidated" :schema='schema' :model='model' :options='formOptions'/>

      <div class="container">
        <div class="row">
          <div class="col">
            Start Datum: <datepicker placeholder="Select Date" v-model="range.start"></datepicker>
          </div>
          <div class="col">
            End Datum: <datepicker placeholder="Select Date" v-model="range.end"></datepicker>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button @click="submit" :disabled="!isValid" class="btn btn-block btn-success">Speichern</button>
          </div>
          <div class="col">
            <button @click="$modal.hide('upsert-milestone')" class="btn btn-block btn-danger">Abbrechen</button>
          </div>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import VueFormGenerator from 'vue-form-generator'
import Datepicker from 'vuejs-datepicker'
import {mapState, mapGetters} from 'vuex'
import moment from 'moment'

export default {
  name: 'upsert-milestone',
  components: {'vue-form-generator': VueFormGenerator.component, Datepicker},
  props: {
    create: {type: Boolean, default: true},
    projectId: {type: Number, default: 0},
    milestone: {type: Object, default: null}
  },
  computed: {
    ...mapState(['projects', 'developers']),
    ...mapGetters(['getAllSubModules', 'downloading']),
    schema () {
      let schema = {
        fields: [{
          type: 'select',
          label: 'Produkt',
          model: 'projectId',
          required: true,
          selectOptions: {
            name: 'title'
          },
          values: this.projects,
          validator: VueFormGenerator.validators.required
        }, {
          type: 'select',
          label: 'Modul',
          model: 'subProjectTitle',
          values: this.getAllSubModules
        }, {
          type: 'input',
          inputType: 'text',
          label: 'Titel',
          model: 'title',
          placeholder: 'Projektname',
          required: true
        }, {
          type: 'textArea',
          label: 'Beschreibung',
          model: 'description',
          required: false
        }, {
          type: 'switch',
          label: 'Mit Issue? (Ermöglicht Entwicklerzuordnung)',
          model: 'addIssue',
          readonly: false,
          disabled: false,
          default: false,
          textOn: 'Ja',
          textOff: 'Nein'
        }, {
          type: 'select',
          label: 'Mitarbeiter',
          model: 'assignee',
          selectOptions: {
            name: 'title'
          },
          values: this.developers,
          disabled: !this.model.addIssue
        }, {
          type: 'input',
          inputType: 'text',
          label: 'Ticket Titel',
          model: 'issueTitle',
          placeholder: '',
          disabled: !this.model.addIssue,
          required: true
        }, {
          type: 'textArea',
          label: 'Ticket Beschreibung',
          model: 'issueDescription',
          required: false,
          disabled: !this.model.addIssue
        }, {
          type: 'vueMultiSelect',
          model: 'labels',
          label: 'Labels',
          placeholder: 'Select labels',
          required: false,
          disabled: !this.model.projectId || !this.model.addIssue,
          selectOptions: {
            multiple: true,
            key: 'name',
            label: 'name',
            searchable: false,
            closeOnSelect: false,
            allowEmpty: false
          },
          values: this.projectLabels.filter(e => e.projectId === this.model.projectId)
        }]
      }
      return schema
    }
  },
  data () {
    return {
      projectLabels: [],
      isValid: false,
      range: {
        start: '',
        end: ''
      },
      model: {
        projectId: '',
        subProjectTitle: '',
        title: '',
        description: '',
        addIssue: false,
        assignee: '',
        issueTitle: '',
        issueDescription: '',
        labels: []
      },
      formOptions: {
        validateAfterLoad: true,
        validateAfterChanged: true
      }
    }
  },
  methods: {
    async submit () {
      if (!this.isValid) return

      // create parameter string for milestone creationg
      let params = 'title=' + (this.model.subProjectTitle ? `[${this.model.subProjectTitle}]${this.model.title}` : this.model.title)
      params += this.model.description ? '&description=' + this.model.description : ''
      params += this.range.start ? '&start_date=' + moment(this.range.start).format('YYYY-MM-DD') : ''
      params += this.range.end ? '&due_date=' + moment(this.range.end).format('YYYY-MM-DD') : ''

      try {
        await this.GitLabAPI.requestAsync(`/projects/${this.model.projectId}/milestones?${params}`, 'post')
        this.$toasted.show(`Projekt: ${this.model.title} angelegt`)
      } catch (exception) {
        return this.$toasted.show(`Projekt anlegen wegen Fehler ${exception} nicht möglich`)
      }

      if (this.model.addIssue) {
        let issue = {
          title: this.model.issueTitle,
          description: this.model.issueDescription,
          assignee_ids: this.model.assignee ? [this.model.assignee] : null,
          labels: this.model.labels.map(e => e.name).join(',')
        }
        try {
          await this.$store.dispatch('createIssue', {projectId: this.model.projectId, issue})
          this.$toasted.show(`Ticket: ${this.model.issueTitle} angelegt`)
        } catch (exception) {
          return this.$toasted.show(`Ticket anlegen wegen Fehler ${exception} nicht möglich`)
        }
      }
      this.$modal.hide('upsert-milestone')
      this.$trigger('user-settings:refresh')
    },
    onValidated (isValid, errors) {
      this.isValid = isValid
    },
    async beforeOpen () {
      this.changeWasMade = false
      if (!this.projects.length) await this.$store.dispatch('loadProjects')
    },
    beforeClose () {
      this.isValid = false
      Object.keys(this.model).forEach(k => { this.model[k] = '' })
      Object.keys(this.range).forEach(k => { this.range[k] = '' })
    }
  },
  watch: {
    'model.addIssue': async function () {
      if (!this.developers.length) await this.$store.dispatch('loadUsers')
    },
    'model.projectId': async function (v) {
      if (!v || this.model.addIssue && this.projectLabels.some(e => e.projectId === pId)) return
      let pId = this.model.projectId
      try {
        let labels = await this.GitLabAPI.getAsync(`/projects/${pId}/labels`)
        labels.forEach(l => { l.projectId = pId })
        this.projectLabels.push(...labels)
      } catch (ex) {
        this.$toasted.show(`Labels für Projekt konnten nicht geladen werden ${ex}`)
      }
    }
  }
}
</script>

<style lang='stylus'>
#UpsertMilestone
  padding 15px
  .container
    padding 0
  .container>.row:not(:first-of-type)
    margin-top 1rem

  .form-group.disabled
    display none
</style>
<style src="vue-form-generator/dist/vfg.css"></style>
<style>
/*@import url("https://unpkg.com/vue-form-generator@2.1.0/dist/vfg.css")*/
/*@import "../../../node_modules/spectre.css/dist/spectre.css"*/
/*@import url("https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.1/spectre.min.css")*/
</style>
