<template>
  <div>
    <working-bar>
      <template slot="customButtons">
        <label :class="{'btn-outline-dark': !showMilestones}" class="btn btn-sm btn-info no-margin">
          Projekte <i class="fa fa-eye" :class="{'fa-eye-slash': showMilestones}"></i><input hidden type="checkbox" v-model="showMilestones"/>
        </label>
      </template>
      <template slot="center">
        <button class="btn btn-sm">Unzugeordnet:</button>
        <div id="scheduler-settings">
          <div>
          <div id='external-events'>
            <div-dropdown v-for="(u, idx) in unassignedIssues" :key="idx" :title="u.title" :show-from-content="'name'" :contents="filteredDevelopers"
              @content-clicked="newAssignIssue($event, u)" class="unassinged-issue">
              <strong slot="contentTitle">Zuordnen zu:</strong>
            </div-dropdown>
            </div>
          </div>
        </div>
      </template>
    </working-bar>
    <div id="chartp"></div>
    <context-menu id="context-menu2" ref="ctxMenu2">
      <li @click="unassingnThatIssue" style="padding: .25rem;"><i class="fa fa-close"/> Nicht mehr zuweisen</li>
    </context-menu>
  </div>
</template>

<script>
import moment from 'moment'
import $ from 'jquery'
import 'fullcalendar'
import 'fullcalendar-scheduler'
import 'jquery-ui-bundle'
import {editIssues, hasWriteProtection} from './abstract/SubmitChanges'
// import 'jquery-ui-bundle/jquery-ui.css'
import schedulerBase from './abstract/SchedulerBaseConfig'
import { mapState, mapGetters } from 'vuex'

const events = []

export default {
  name: 'developer-scheduler',
  data () {
    return {
      myMilestones: [],
      unassignedIssues: [],
      assignedIssues: [],
      contextedIssue: { id: 0, projectId: 0 }
    }
  },
  computed: {
    ...mapState(['milestones', 'projects']),
    ...mapGetters(['filteredDevelopers']),
    showMilestones: {
      get () {
        return this.$store.state.showMilestonesforDeveloper
      },
      set (value) {
        this.$store.commit('set', {property: 'showMilestonesforDeveloper', value})
      }
    }
  },
  methods: {
    ...editIssues,
    hasWriteProtection,
    async unassingnThatIssue () {
      let returnIssue = await this.unassignIssue(this.contextedIssue.id, this.contextedIssue.projectId)

      // let oldEvent = events.filter(e => e.id === returnIssue.id).pop()
      // oldEvent.assignee = null
      addMilestoneShort(returnIssue)
      this.unassignedIssues.push(returnIssue)
      $('#chartp').fullCalendar('removeEvents', [returnIssue.id])
    },
    filterAllIssues (allIssuesRaw) {
      events.splice('deleteCount')
      allIssuesRaw
        .filter(e => !!e.assignee)
        .map(x => {
          let rObj = {start: moment().format('YYYY-MM-DD'), id: x.id}
          rObj.start = moment().format('YYYY-MM-DD')

          if (x.due_date) rObj.end = x.due_date
          else if (x.milestone) {
            if (x.milestone.start_date) rObj.start = x.milestone.start_date
            if (x.milestone.due_date) rObj.end = x.milestone.due_date
          } else {
            rObj.end = moment().add(1, 'days').format('YYYY-MM-DD')
          }

          if (x.assignee && x.assignee.id) rObj.resourceId = x.assignee.id
          rObj.title = x.title
          rObj.projectId = x.project_id
          rObj.iid = x.iid
          events.push(rObj)
        })
    },
    async newAssignIssue (developer, issue) {
      issue.assignees.splice('deleteCount')
      issue.assignees.push(developer.id)
      await this.postIssue(issue, issue.project_id)
      let issueIdx = this.unassignedIssues.findIndex(e => e.id === issue.id)
      this.unassignedIssues.splice(issueIdx, 1)[0]
      this.downloadData()
    },
    /* assignIssue (id, resourceId) {
      if (!id) return   // just to prevent false removals
      let issueIdx = this.unassignedIssues.findIndex(e => e.id === Number(id))
      let issue = this.unassignedIssues.splice(issueIdx, 1)[0]
      console.log('removed', issue)
    }, */
    adjustIssueDuration (issue) {

    },
    createChart () {
      var self = this
      /* this.$nextTick(() => {
        $('#external-events .fc-event').each(function () {
          // store data so the calendar knows to render an event upon drop
          $(this).data('event', { title: $.trim($(this).text()), stick: true })// use the element's text as the event title

          // make the event draggable using jQuery UI
          $(this).draggable({ zIndex: 999, revert: true, revertDuration: 0 })  // revert will cause the event to go back to its original position after the drag
        })
      })
      $('#unassign').droppable({
        drop: function (event, ui) {
          console.log('unassign', ui.draggable[0].dataset.id)
          self.unassignIssue(ui.draggable[0].dataset.id)
        }
      }) */

      let schedulerRoot = $('#chartp').fullCalendar({
        ...schedulerBase('showProjects'),
        resourceAreaWidth: '150px',
        resourceLabelText: 'Entwickler',
        resources: this.filteredDevelopers,
        eventSources: [
          {
            id: self.showMilestones ? 1 : 99,
            events: self.showMilestones ? self.myMilestones : []
          }, {
            id: 2,
            events
          }
        ],
        eventStartEditable: false,
        eventOrder: 'eventType',
        /* drop: function (date, jsEvent, ui, resourceId) {
          console.log('drop', date.format(), resourceId)
          self.assignIssue(this.dataset.id)
        }, */
        eventReceive: function (event) { // called when a proper external event is dropped
          console.log('eventReceive', event)
        },
        eventDrop: function (event) { // called when an event (already on the calendar) is moved
          console.log('eventDrop', event)
        },
        eventResize: function (event, delta, revertFunc, jsEvent, ui, view) {
          if (self.hasWriteProtection()) return revertFunc()
          // window.alert(event.title + ' end is now ' + event.end.format())
          // let events = schedulerRoot.fullCalendar('clientEvents', event._id)
          self.adjustIssueDuration()
          // if (!window.confirm('is this okay?')) revertFunc()
        },
        eventRender (event, element) {
          let eventId = event.iid
          let projectId = event.projectId

          element.attr('title', event.description ? event.title + '\n' + event.description : event.title)
          element.bind('contextmenu', (event) => {
            event.preventDefault()
            self.$refs.ctxMenu2.open()
            self.contextedIssue.id = eventId
            self.contextedIssue.projectId = projectId
          })
        },
        eventClick (event, jsEvent, view) {

        },
        customButtons: {
          showProjects: {
            text: 'Zeige Projekte',
            click () {
              self.showMilestones = !self.showMilestones
            }
          }
        }
      })
      // schedulerRoot.fullCalendar('addEventSource', self.assignedIssues)
      let x = schedulerRoot.fullCalendar('clientEvents')
      console.log(x)
      // this.$set('schedulerRoot', schedulerRoot)
    },
    downloadData () {
      // set Moment.js locale
      moment.locale(process.env.MOMENTJS_LOCALE)

      let p1 = this.$store.dispatch('loadUsers')
      let p2 = this.$store.dispatch('loadIssues')
      this.unassignedIssues.splice('deleteCount')

      Promise.all([p1, p2]).then(values => {
        let allIssues = this.$store.getters.filteredIssues // values[1]
        this.unassignedIssues.push(...allIssues.filter(e => !e.assignee))
        this.unassignedIssues.forEach(addMilestoneShort)

        let allMilestones = new Map()
        allIssues
          .filter(e => e.assignee)
          .forEach(i => {
            if (!i.milestone) return
            i.milestone.resourceId = i.assignee.id
            allMilestones.set(i.milestone.id + i.assignee.id, i.milestone)
          })

        let milestoneArray = [...allMilestones.values()]
        this.myMilestones.splice('deleteCount')
        milestoneArray.forEach((ms, idx) => {
          ms.start = ms.start_date
          ms.end = ms.due_date
          ms.eventType = 'milestone'
          ms.color = 'orange'
          ms.id = ms.id + '' + idx
          ms.editable = false

          this.myMilestones.push(ms)
        })

        this.filterAllIssues(allIssues)
        this.createChart()
      }).catch(reason => {
        this.$toasted.show(`Downloading issues failed`)
        console.log(reason)
      })
    }
  },
  watch: {
    showMilestones (newV) {
      if (newV) { // show Milestones
        events.push(...this.myMilestones)
        $('#chartp').fullCalendar('addEventSource', {id: 1, events: this.myMilestones})
      } else { // do not show Milestones
        $('#chartp').fullCalendar('removeEventSource', 1)
        let toKeep = events.filter((e) => e.eventType !== 'milestone')
        events.splice('deleteCount')
        events.push(...toKeep)
      }
    }
  },
  mounted () {
    this.downloadData()
  },
  events: {
    'user-settings:refresh': 'downloadData'
  }
}

function addMilestoneShort (issue) {
  if (issue.milestone && /^\w\d+/.test(issue.milestone.title)) {
    let short = issue.milestone.title.split(/[ :]/)[0]
    issue.title = short + ': ' + issue.title
  }
}
// <style src="fullcalendar/dist/fullcalendar.print.min.css"></style>
</script>
<style src="fullcalendar/dist/fullcalendar.css"></style>
<style src="fullcalendar-scheduler/dist/scheduler.css"></style>
<style lang="stylus">
.ctx-menu
  li
    padding 0 5px
    cursor context-menu
  li:hover
    background-color lightgrey

#scheduler-settings
  max-width: 80vw;
  display: inline-flex;
  display inline-flex
  /* position sticky
  top 0
  background-color #f5f5f5c4
  z-index 999
  padding .5rem
  margin-top -10px */

#unassign
  float right
  padding .5rem
  background-color orange
  border 1px dotted black

#external-events .fc-event
  max-width 250px
  margin .25rem
  padding .25rem

#external-events
   display flex
   flex-direction row
.unassinged-issue
  margin 0 .2rem
  .dropdown-menu
    padding-left 1rem
</style>
