<template>
  <div class="pagination">
    <button v-if="this.paginationLinks.prev" v-on:click="paginationPage--">&lt; Prev</button>
    <span>Page {{ this.paginationPage }}</span>
    <button v-if="this.paginationLinks.next" v-on:click="paginationPage++">Next &gt;</button>
    <div class="perpage">
      Showing
      <select v-model="paginationPerPage">
        <option v-for="value in [10,20,50,75,100]" v-bind:value="value">{{ value }}</option>
      </select>
      issues per page
    </div>
  </div>
</template>

<script>
export default {
  name: 'pagination-control',
  computed: {
    paginationPerPage: {
      get () {
        return this.$store.state.pagination.perPage
      },
      set (value) {
        var pagination = this.$store.state.pagination
        pagination.perPage = value
        this.$store.commit('pagination', pagination)
      }
    },
    paginationPage: {
      get () {
        return this.$store.state.pagination.page
      },
      set (value) {
        var pagination = this.$store.state.pagination
        pagination.page = value
        this.$store.commit('pagination', pagination)
      }
    },
    paginationLinks: {
      get () {
        return this.$store.state.pagination.links
      },
      set (value) {
        var pagination = this.$store.state.pagination
        pagination.links = value
        this.$store.commit('pagination', pagination)
      }
    }
  }
}
</script>
