<template>
  <div>
    <working-bar>
      <button @click="$modal.show('sub-products')" slot="customButtons" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i>  Unterprojekte</button></working-bar>
    <div id="chartp"></div>
  </div>
</template>

<script>
import moment from 'moment'
import $ from 'jquery'
import 'fullcalendar'
import 'fullcalendar-scheduler'
import {editMilestones} from './abstract/SubmitChanges'
import schedulerBase from './abstract/SchedulerBaseConfig'
import 'fullcalendar/dist/locale/de'
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'projects-scheduler',
  data () {
    return {
      usedModules: [],
      hideEmpty: true
    }
  },
  computed: {
    ...mapState(['milestones', 'language', 'projectsToFilter']),
    ...mapGetters(['filteredProjects', 'getModuleForProject', 'doesModuleExist'])
  },
  methods: {
    ...editMilestones,
    createChart () {
      let self = this
      $('#chartp').fullCalendar({
        ...schedulerBase('timelineQ4'),
        lang: self.language.toLowerCase(),
        resourceAreaWidth: 115,
        resources: this.filteredProjects,
        events: this.milestones,
        filterResourcesWithEvents: self.hideEmpty,
        eventRender (event, element) {
          element.bind('dblclick', function () {
            console.log('double click!')
          })
          element.bind('contextmenu', function () {
            console.log('contextmenue click!')
          })
          element.attr('title', event.description ? event.title + '\n' + event.description : event.title)
        },
        resourceRender: function (resourceObj, labelTds, bodyTds) {
          // labelTds.find('span.fc-cell-text').prepend('<i class="fa fa-plus-circle"></i>&ensp;')
        },
        eventDrop (event, delta, revertFunc) {
          if (self.hasWriteProtection()) return revertFunc()
          if (event.project_id !== Number(event.resourceId)) {
            self.$toasted.show(`Projekt unverrückbar!`, {className: ''})
            return revertFunc()
          }
          self.postMilestone(event, event.project_id)
        },
        eventResize (event, delta, revertFunc, jsEvent, ui, view) {
          if (self.hasWriteProtection()) return revertFunc()
          self.postMilestone(event, event.project_id)
        },
        eventClick (event, jsEvent, view) {
          self.$toasted.show(`jo geklickd`)
          // $('#chartp').fullCalendar('removeEvents', event._id)
        }
      })

      // checks of milestones exist which are not displayed in any row
      let everythingConnected = this.milestones.every(ms => this.filteredProjects.some(p => p.id === ms.resourceId) || this.filteredProjects.some(p => p.children.some(c => c.id === ms.resourceId)))
      if (!this.projectsToFilter.length && !everythingConnected) this.$toasted.show(`Es werden Projekte/Meilensteine wegen Referenzfehlern nicht angezeigt`)
    },
    async downloadData () {
      moment.locale(this.language.toLowerCase())
      let myProjects

      try {
        myProjects = await this.$store.dispatch('loadProjects')
      } catch (e) {
        return this.$toasted.show(`Downloading products failed`)
      }
      let promises = []
      for (let p of myProjects) {
        promises.push(this.GitLabAPI.getAsync('/projects/' + p.id + '/milestones?state=active'))
      }
      Promise.all(promises).then(values => {
        let allMilestones = new Map()
        for (let v of values) {
          for (let m of v) allMilestones.set(m.id, m)
        }

        let milestoneArray = [...allMilestones.values()]
        milestoneArray.forEach(ms => {
          ms.resourceId = ms.project_id
          ms.start = ms.start_date || moment().format('YYYY-MM-DD')
          ms.end = ms.due_date
          if (/^\[\w+\] /.test(ms.title)) {
            let parts = ms.title.split(/^\[\w+\] /) // [XYZ] Milestone 123 -> ['[XYZ] ', 'Milestone 123']
            ms.module = ms.title.substring(1, ms.title.indexOf('] '))
            if (this.doesModuleExist(ms.module)) {
              ms.title = parts[1]
              ms.resourceId = `${ms.project_id}_${ms.module}`
            }
          }
          if (!ms.start_date) ms.color = 'orange'
        })
        this.$store.commit('set', {property: 'milestones', value: milestoneArray})

        this.createChart()
      }).catch(reason => {
        this.$toasted.show(`Downloading projects failed`)
        console.log(reason)
      })
    }
  },
  async mounted () {
    this.downloadData()
  },
  events: {
    'user-settings:refresh': 'downloadData'
  }
}
// <style src="fullcalendar/dist/fullcalendar.print.min.css"></style>
</script>
<style src="fullcalendar/dist/fullcalendar.css"></style>
<style src="fullcalendar-scheduler/dist/scheduler.css"></style>
