<template>
  <div>
    <working-bar></working-bar>
    <div id="chartp"></div>
  </div>
</template>

<script>
import moment from 'moment'
import $ from 'jquery'
import 'fullcalendar'
import 'fullcalendar-scheduler'
import {editMilestones} from './abstract/SubmitChanges'
import schedulerBase from './abstract/SchedulerBaseConfig'
import 'fullcalendar/dist/locale/de'
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'teams-scheduler',
  data () {
    return {
      myMilestones: [],
      myIssues: [],
      hideEmpty: false
    }
  },
  computed: {
    ...mapState(['projects', 'milestones', 'developers', 'language']),
    ...mapGetters(['filteredProjects', 'filteredIssues']),
    myFilteredMilestones () {
      return this.myMilestones.filter(e => !this.hideEmpty || e.children.length)
    }
  },
  methods: {
    ...editMilestones,
    addToMilestone (issue) {
      let developer = {...this.developers.find(d => d.id === issue.assignee.id)}

      developer.devId = developer.id
      developer.id = `${issue.milestone.id}_${developer.id}`

      let fittingMilestone = this.myMilestones.find(m => m.msId === issue.milestone.id)
      if (!fittingMilestone.children.find((e) => e.id === developer.id)) fittingMilestone.children.push(developer)
      issue.resourceId = developer.id // issue.assignee.id

      issue.start = issue.milestone.start_date || moment().format('YYYY-MM-DD')             // fix: fake
      issue.end = issue.due_date || issue.milestone.due_date || moment().add(1, 'days').format('YYYY-MM-DD')// fix: fake
    },
    createChart () {
      let self = this
      $('#chartp').fullCalendar({
        ...schedulerBase('hideEmpty'),
        lang: self.language.toLowerCase(),
        resourceAreaWidth: 300,
        resourceGroupField: 'productName',
        resources: this.myMilestones,
        events: this.myIssues,
        eventRender (event, element) {
          element.bind('dblclick', function () {
            console.log('double click!')
          })
          element.bind('contextmenu', function () {
            console.log('contextmenue click!')
          })
          element.attr('title', event.description ? event.title + '\n' + event.description : event.title)
        },
        eventDrop (event, delta, revertFunc) {
          if (self.hasWriteProtection()) return revertFunc()
          if (event.project_id !== Number(event.resourceId)) {
            self.$toasted.show(`Projekt unverrückbar!`, {className: ''})
            return revertFunc()
          }
          self.postMilestone(event, event.project_id)
        },
        eventResize (event, delta, revertFunc, jsEvent, ui, view) {
          if (self.hasWriteProtection()) return revertFunc()
          self.postMilestone(event, event.project_id)
        },
        eventClick (event, jsEvent, view) {
          self.$toasted.show(`jo geklickd`)
          // $('#chartp').fullCalendar('removeEvents', event._id)
        },
        customButtons: {
          hideEmpty: {
            text: self.hideEmpty ? 'Mit leeren' : 'Keine leeren',
            click () {
              self.hideEmpty ^= 1
              self.createChart()
            }
          }
        },
        filterResourcesWithEvents: self.hideEmpty
      })
    },
    async downloadData () {
      moment.locale(this.language.toLowerCase())
      let myProjects
      let milestonesPromises
      try {
        await this.$store.dispatch('loadProjects')
        myProjects = this.filteredProjects

        milestonesPromises = myProjects.map(p => this.GitLabAPI.getAsync('/projects/' + p.id + '/milestones?state=active'))
      } catch (e) {
        return this.$toasted.show(`Downloading products failed` + e)
      }

      try {
        let milestonesArrays = await Promise.all(milestonesPromises)
        let allMilestones = new Map()
        for (let milestones of milestonesArrays) {
          for (let m of milestones) allMilestones.set(m.id, m)
        }
        let uniqueMilestone = [...allMilestones.values()]
        uniqueMilestone.forEach((ms, idx) => {
          ms.resourceId = ms.project_id
          ms.start = ms.start_date
          ms.end = ms.due_date
          ms.msId = ms.id
          ms.id = ms.id + '_' + ms.project_id
          ms.productName = myProjects.find(e => e.id === ms.project_id).path_with_namespace
          ms.children = []
        })
        this.myMilestones.splice('deleteCount')
        this.myMilestones.push(...uniqueMilestone)
      } catch (reason) {
        this.$toasted.show(`Downloading projects failed`)
        console.error(reason)
      }

      try {
        if (!this.developers.length) await this.$store.dispatch('loadUsers')

        await this.$store.dispatch('loadIssues')
        let issues = this.filteredIssues
        issues
          .filter(e => !!e.assignee && !!e.milestone)
          .forEach(this.addToMilestone)

        this.myIssues.splice('deleteCount')
        this.myIssues.push(...issues)
      } catch (reason) {
        console.error(reason)
      }
      this.createChart()
    }
  },
  async mounted () {
    this.downloadData()
  },
  events: {
    'user-settings:refresh': 'downloadData'
  }
}
// <style src="fullcalendar/dist/fullcalendar.print.min.css"></style>
</script>
<style src="fullcalendar/dist/fullcalendar.css"></style>
<style src="fullcalendar-scheduler/dist/scheduler.css"></style>
