<template>
  <div>
    <span class="user"><img v-bind:src="avatarUrl"> {{ userName }}</span>
    <span class="server">
      <transition name="fade">

      </transition>
      <a v-bind:href="url" target="_blank">{{ url }}</a>
      <button @click="$trigger('user-settings:refresh')" class="btn btn-sm btn-outline-dark">
        <span v-if="downloading" class="fa fa-circle-o-notch fa-spin downloading" aria-hidden="true"></span>
        <span v-else class="fa fa-refresh" aria-hidden="true"></span> Refresh</button>
      <span>
        <label :class="{'btn-outline-dark': !readonly}" class="btn btn-sm btn-dark"><i v-show="readonly" class="fa fa-lock"></i>Schreibschutz<input hidden type="checkbox" v-model="readonly"/></label>
      </span>

      <div class="btn-group">
        <button @click="showFilter^=1" type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-filter"></span>
        </button>
        <div v-if="showFilter" @click="showFilter=0" v-click-outside="e => showFilter = false" class="visible-block dropdown-menu">
          <a @click="$modal.show('ignore-developers')" class="dropdown-item" href="#">Ignore some Developers ({{hiddenDevelopersNum}})</a>
          <a @click="$modal.show('ignore-products')" class="dropdown-item" href="#">Ignore some Products ({{hiddenProjectNum}})</a>
          <a @click="$modal.show('ignore-labels')" class="dropdown-item" href="#">Ignore some Labels ({{$store.state.labelsToHide.length}})</a>
        </div>
      </div>

      <button @click="showCtx(2)" class="btn btn-sm btn-outline-secondary"><span class="fa fa-wrench"></span></button>
      <choose-language></choose-language>
      <a href="https://gitlab.com/ganttlab/ganttlab-live#how-it-works" target="_blank">
        <i class="fa fa-question-circle" aria-hidden="true" title="Help"></i></a>
        <button class="btn btn-sm" v-on:click="$trigger('LoginPage:logout')" style="padding-left: 0;" title="Close"><i class="fa fa-sign-out close fa-2x" aria-hidden="true"></i></button>
      </span>

      <context-menu id="context-menu" ref="ctxMenu">

      </context-menu>
      <context-menu id="context-menu2" ref="ctxMenu2">
        <li>Bezeichnungen</li>
      </context-menu>
  </div>
</template>

<script>
import ChooseLanguage from './providers/ChooseLanguage'
import {mapState, mapGetters} from 'vuex'

export default {
  name: 'user-settings',
  components: {ChooseLanguage},
  data () {
    return {
      showFilter: false
    }
  },
  computed: {
    ...mapState({avatarUrl: state => state.user.avatarUrl, userName: state => state.user.name}),
    ...mapGetters(['downloading', 'hiddenProjectNum', 'hiddenProjectNum', 'hiddenDevelopersNum']),
    readonly: {
      get () {
        return this.$store.state.schedulerReadonly
      },
      set (value) {
        this.$store.commit('set', {property: 'schedulerReadonly', value})
      }
    }
  },
  methods: {
    showCtx (number) {
      this.$refs['ctxMenu' + (isNaN(number) ? '' : number)].open()
    }
  }
}
</script>

<style lang="stylus" scoped="">
label.btn
  margin 0
  transition: width 2.5s ease-in-out;
label .fa
 margin 0 .5rem 0 0
.visible-block
  display block
.dropdown-toggle:after
  display none
</style>
