<template>
  <div id="App">
    <transition name="fade">
      <login-page v-show="loginFailed || !userName"></login-page>
    </transition>
    <transition name="fade">
      <div v-if="userName" id="MainScreen">
        <div id="top" class="standardpadding">
          <user-settings v-if="userName"></user-settings>
        </div>

        <component v-bind:is="provider" class="provider"></component>
        <div class="standardpadding">

          <template v-if="activeView">
            <component :is="activeView"></component>
            <p>
              <div v-show="hiddenProjectNum"><strong>{{hiddenProjectNum}}</strong> Produkte werden versteckt</div>
              <div v-show="hiddenDevelopersNum"><strong>{{hiddenDevelopersNum}}</strong> Entwickler werden versteckt</div>
              <div v-show="hiddenLabelsNum"><strong>{{hiddenLabelsNum}}</strong> Labels werden versteckt</div>
            </p>
          </template>
          <gantt v-else-if="tasks != null"></gantt>
          <p v-if="downloading && GitLabAPI.requestMethod === 'get'" class="downloading"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></p>
        </div>

        <pagination-control
          v-if="!downloading && (links.prev || links.next)">
        </pagination-control>
      </div>
    </transition>
    <my-modals></my-modals>
  </div>
</template>

<script>
import 'font-awesome/css/font-awesome.css'
import Gantt from './components/Gantt'
import DeveloperScheduler from './components/DeveloperScheduler'
import ProjectsScheduler from './components/ProjectsScheduler'
import TeamsScheduler from './components/TeamsScheduler'
import LoginPage from './components/LoginPage'
import PaginationControl from './components/PaginationControl'
import UserSettings from './components/UserSettings'
import MyModals from './components/Modals/MyModals'
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'app',
  components: {
    Gantt, ProjectsScheduler, DeveloperScheduler, TeamsScheduler, LoginPage, PaginationControl, UserSettings, MyModals
  },
  computed: {
    ...mapState(['provider', 'loginFailed', 'activeView', 'tasks', 'GitLabAPI', 'projectsToFilter']),
    ...mapState({links: state => state.pagination.links, userName: state => state.user.name}),
    ...mapGetters(['downloading', 'hiddenProjectNum', 'hiddenDevelopersNum', 'hiddenLabelsNum'])
  }
}
// <style src="blaze/scss/dist/blaze.min.css"></style>
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="./assets/styles/ganttlab.less" lang="less"></style>
<style src="bootstrap-css-only"></style>
